@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
    display: none !important; 
}

.poster-container {
    perspective: 900px;
    transform-style: preserve-3d;
    transform: rotateX(35deg) translateY(-100px);
}

.poster-row {
    display: flex;
    animation: scrollLeft linear infinite;
    margin-bottom: 10px;
}

.poster {
    flex: 0 0 auto;
    width: 100px;
    height: 150px;
    margin-right: 20px;
    overflow: hidden;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.poster:hover {
    opacity: 1;
    transform: scale(1.05);
    z-index: 10;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0) rotateX(35deg);
    }

    100% {
        transform: translateX(-50%) rotateX(35deg);
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .poster-container {
        transform: rotateX(35deg) translateY(-75px);
    }

    .poster {
        width: 100px;
        height: 150px;
        margin-right: 10px;
    }

    .poster-row {
        margin-bottom: 5px;
    }
}
/* Carduri 3D */

.perspective-1000 {
    perspective: 1000px;
}
.transform-style-3d {
    transform-style: preserve-3d;
}

.translate-z-12 {
    transform: translateZ(12px);
}

/* AnimaÈ›ie pentru hover pe carduri */
@keyframes float {
    0% { transform: translateZ(0) translateY(0); }
    50% { transform: translateZ(10px) translateY(-5px); }
    100% { transform: translateZ(0) translateY(0); }
}

.group:hover {
    animation: float 6s ease-in-out infinite;
}

/* Stilizare paginare */
.pagination {
    @apply flex justify-center gap-3;
}

.pagination > * {
    @apply px-6 py-2 text-sm font-medium tracking-wider uppercase transition-all duration-300 border rounded-lg backdrop-blur-sm bg-black/30 border-white/10 hover:bg-blue-500/30 hover:border-blue-500/50;
}

.pagination .active {
    @apply border-blue-500 bg-blue-500/50;
}

@media (min-width: 768px) {
    .md\:rotate-y-30 {
        transform: rotateY(35deg);
    }
    .md\:-rotate-y-30 {
        transform: rotateY(-35deg);
    }
    .md\:hover\:rotate-y-0:hover {
        transform: rotateY(0deg);
    }
    .md\:hover\:translate-z-10:hover {
        transform: translateZ(10px);
    }
    .center-card {
        height: calc(100% - 2.5rem);
        margin-top: 1.2rem;
        margin-bottom: 1rem;
    }
}

/* Scrollbar personalizat */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}

/* Pentru Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #1a1a1a;
}
